body {
	--clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #E21833;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}

